src/main/config/MCEDT-WSDL-SNAPSHOT/edt/EDTService_2021-11-05.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://edt.health.ontario.ca/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://edt.health.ontario.ca/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema>
      <xsd:import schemaLocation="EDTService.xsd2.xsd" namespace="http://ebs.health.ontario.ca/"/>
      <xsd:import schemaLocation="EDTService.xsd3.xsd" namespace="http://ebs.health.ontario.ca/"/>
      <xsd:import schemaLocation="EDTService.xsd4.xsd" namespace="http://edt.health.ontario.ca/"/>
      <xsd:import schemaLocation="EDTService.xsd6.xsd" namespace="http://idp.ebs.health.ontario.ca/"/>
      <xsd:import schemaLocation="EDTService.xsd5.xsd" namespace="http://msa.ebs.health.ontario.ca/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="xsns:delete" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="xsns:deleteResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="download">
    <wsdl:part name="parameters" element="xsns:download" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="downloadResponse">
    <wsdl:part name="parameters" element="xsns:downloadResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="EBSHeader">
    <wsdl:part name="ebsrequest_header" element="xsns:EBS" xmlns:xsns="http://ebs.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="faultexception">
    <wsdl:part name="Fault" element="xsns:EBSFault" xmlns:xsns="http://ebs.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="getTypeList">
    <wsdl:part name="parameters" element="xsns:getTypeList" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="getTypeListResponse">
    <wsdl:part name="parameters" element="xsns:getTypeListResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="IDPHeader">
    <wsdl:part name="idprequest_header" element="xsns:IDP" xmlns:xsns="http://idp.ebs.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="info">
    <wsdl:part name="parameters" element="xsns:info" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="infoResponse">
    <wsdl:part name="parameters" element="xsns:infoResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="list">
    <wsdl:part name="parameters" element="xsns:list" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="listResponse">
    <wsdl:part name="parameters" element="xsns:listResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="MSAHeader">
    <wsdl:part name="msarequest_header" element="xsns:MSA" xmlns:xsns="http://msa.ebs.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="submit">
    <wsdl:part name="parameters" element="xsns:submit" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="submitResponse">
    <wsdl:part name="parameters" element="xsns:submitResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="xsns:update" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="xsns:updateResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="upload">
    <wsdl:part name="parameters" element="xsns:upload" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:message name="uploadResponse">
    <wsdl:part name="parameters" element="xsns:uploadResponse" xmlns:xsns="http://edt.health.ontario.ca/"/>
  </wsdl:message>
  <wsdl:portType name="EDTDelegate">
    <wsdl:operation name="delete">
      <wsdl:input name="deleteRequest" message="ns0:delete"/>
      <wsdl:output name="deleteResponse" message="ns0:deleteResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="download">
      <wsdl:input name="downloadRequest" message="ns0:download"/>
      <wsdl:output name="downloadResponse" message="ns0:downloadResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="getTypeList">
      <wsdl:input name="getTypeListRequest" message="ns0:getTypeList"/>
      <wsdl:output name="getTypeListResponse" message="ns0:getTypeListResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="info">
      <wsdl:input name="infoRequest" message="ns0:info"/>
      <wsdl:output name="infoResponse" message="ns0:infoResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input name="listRequest" message="ns0:list"/>
      <wsdl:output name="listResponse" message="ns0:listResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="submit">
      <wsdl:input name="submitRequest" message="ns0:submit"/>
      <wsdl:output name="submitResponse" message="ns0:submitResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="updateRequest" message="ns0:update"/>
      <wsdl:output name="updateResponse" message="ns0:updateResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <wsdl:input name="uploadRequest" message="ns0:upload"/>
      <wsdl:output name="uploadResponse" message="ns0:uploadResponse"/>
      <wsdl:fault name="FaultException" message="ns0:faultexception"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EDTPortBinding" type="ns0:EDTDelegate">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="delete">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="deleteRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="download">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="downloadRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTypeList">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="getTypeListRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTypeListResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="info">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="infoRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="infoResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="listRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submit">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="submitRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="updateRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <soap11:operation soapAction="" style="document"/>
      <wsdl:input name="uploadRequest">
        <wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <soap11:body parts="parameters" use="literal"/>
        <soap11:header message="ns0:EBSHeader" part="ebsrequest_header" use="literal"/>
        <soap11:header message="ns0:MSAHeader" part="msarequest_header" use="literal"/>
        <soap11:header message="ns0:IDPHeader" part="idprequest_header" use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultException">
        <soap11:fault name="FaultException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EDTService">
    <wsdl:port name="EDTPort" binding="ns0:EDTPortBinding">
      <soap11:address location="https://204.41.14.79:1443/EDTService/EDTService"/>
    </wsdl:port>
    <wsdl:port name="EDTPort.2" binding="ns0:EDTPortBinding">
      <soap11:address location="https://204.41.14.78:1443/EDTService/EDTService"/>
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedSupportingTokens xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:UsernameToken>
            <wsp:Policy>
              <wsp:All>
                <sp:NoPassword/>
                <sp:WssUsernameToken10/>
              </wsp:All>
            </wsp:Policy>
          </sp:UsernameToken>
        </sp:SignedSupportingTokens>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="MSA" Namespace="http://msa.ebs.health.ontario.ca/"/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="SoftwareConformanceKey" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="AuditId" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="ServiceUserMUID" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="UserID" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
        </sp:RequiredParts>
        <sp:SignedParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
          <sp:Header Name="MSA" Namespace="http://msa.ebs.health.ontario.ca/"/>
          <sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
          <sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
          <sp:Body/>
        </sp:SignedParts>
      </wsp:All>
      <wsp:All>
        <sp:SignedSupportingTokens xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:UsernameToken>
            <wsp:Policy>
              <wsp:All>
                <sp:WssUsernameToken10/>
              </wsp:All>
            </wsp:Policy>
          </sp:UsernameToken>
        </sp:SignedSupportingTokens>
        <sp:SignedParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
          <sp:Header Name="IDP" Namespace="http://idp.ebs.health.ontario.ca/"/>
          <sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
          <sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
          <sp:Body/>
        </sp:SignedParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="IDP" Namespace="http://idp.ebs.health.ontario.ca/"/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="SoftwareConformanceKey" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="AuditId" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="ServiceUserMUID" Namespace=""/>
        </sp:RequiredParts>
        <sp:RequiredParts xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/">
          <sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
        </sp:RequiredParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>